*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
}

:root
{
    font-size: 62.5%
}

body::-webkit-scrollbar
{
    width: 0.7rem;
    background-color: #222222;
}
body::-webkit-scrollbar-thumb
{
    background-color: #535353;
    border-radius: 5rem;
}

body
{
    height: 100vh;
    background-color: #222222;
}